extends resources/page.pug

block title
  title= run.name + " in " + run.game + " - Nuzlockejs"

block content
  form(action='/run/' + run.id, method='post')
    table
      tr
        th Location
        th Captured?
      each location in run.locations
        tr
          td= location.name
          td
            input(
               type='checkbox',
               checked=location.captured,
               name=location.name
                 )
    button(type='submit') Update
